doctype html
html.no-js(lang='en' ng-app='myApp')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title My Project
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='bower_components/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='bower_components/sweetalert/dist/sweetalert.css')
    link(rel='stylesheet', href='css/style.css')

    link(rel="stylesheet" type="text/css" href="bower_components/carousel/css/mscarousel.css")
  body
    div(ui-view)
    // Firebase
    script(src='bower_components/firebase/firebase.js')
    // jQuery
    script(src='bower_components/jquery/dist/jquery.js')
    // angular
    script(src='bower_components/angular/angular.js')
    // angular-ui-router
    script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
    // bootstrap js
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    // sweetalert
    script(src='bower_components/sweetalert/dist/sweetalert.min.js')

    script(type="text/javascript" src="bower_components/carousel/js/jquery.msCarousel-min.js")
    script(src='js/main.js')
    script(src='js/services.js')

