body {
}

img {
  width: 100%;
  height: 150px;
}

a:hover {
  text-decoration: none;
  cursor:pointer;
}
.navbar {
  border-radius: 0;
}

.alignRight{
  display:block;
  text-align: right;
}

.pullRight {
  position: relative;
  right: -100px;
}

.card {
  max-width: 290px;
  padding: 2px;
  border: 3px black double;
  background-color: beige;
  text-align: center;
  margin-bottom: 10px;
}

.card>button {
  width: 100%;
}
/*.card img {
  max-width: 270px;
}*/

