body {
 
}

a:hover {
  text-decoration: none;
  cursor:pointer;
}
.navbar {
  border-radius: 0;
}

.alignRight{
  display:block;
  text-align: right;
}

.pullRight {
  position: relative;
  right: -100px;
}

