body {
}
/** {
  border: red 1px dotted;
}*/
/*.bottomBuffer {
  background-color: black;
  height: 100%;
  width: 100%;
}*/
#picDisplayBoard {
  position: relative;
  text-align: center;
  /*margin:5% auto;*/
  margin-top: 5%;
  left: -15%;
  height:60%;
  width:125%;
  overflow: hidden;
  background-color:#4f4545;
  border-top: 4px black solid;
  border-bottom: 4px black solid;
}
#picDisplayBoard img {
  height: 150px;

  }


.viewContainer img {
  width: 100%;
  /*height: 150px;*/
  background-color: #fff;
}
.viewContainer {
  margin-top: 0px;
  background-color: grey;
  height: 95vh;
  overflow: scroll;
}
.userPanel button{
  margin-top: 5px;
}
.spacer {
  margin-top: 20px;
}
.redBox {
  border-color: red;
}
a:hover {
  text-decoration: none;
  cursor:pointer;
}
.navbar {
  border-radius: 0;
  background-color: #4f4545;
  margin: 0;
  border: 0;
}

.alignRight{
  display:block;
  text-align: right;
}

.pullRight {
  position: relative;
  right: -100px;
}



.card {
  max-width: 270px;
  /*padding: 2px;*/
  border: 3px black double;
  background-color: beige;
  text-align: center;

  margin-bottom: 10px;
}

.card>button {
  width: 100%;
}
.card img {
  max-width: 270px;
}
.userPanel {
  height: 95vh;
  background-color: #4f4545;
}

.userPanel>img {
  display: block;
  margin: 20px auto;
  border-radius: 50%;
  width:15vw;

}
.modalPic>div, .modalPic button{
  text-align: center;
  margin-top: 20px;
  width: 20vw;
  float:left;
}
.modalPic img {
  width:100px;
  height: 60px;
  float: left;
  margin:5px;


}
.modalPic {

  height: 70px;
  border-bottom: dotted lightgrey 1px;
}

#mainItem {

  height: 70vh;
  width: 100%;
  background-color: grey;
  display: inline-flex;
  margin: 0;
  margin-top: 1vh;
}

.next, .previous {
   float: left;
  height: 30px;
  width: 30px;
  background-color: lightgrey;
  position: relative;
  font-size: 1.6em;
}

.next{
  float: right;
 /* height: 30px;
  width: 30px;
  display: inline;
  background-color: black;
  position: relative;*/

}


h2, p {
  display: inherit;
}

.picArray {
  margin-top:-5px;
  display: flex;
  background-color: darkgrey;
  width: 100%;
  height: 20vh;
  overflow: hidden;
  z-index: 0;
  border-top: solid black 3px;
  border-bottom: solid black 2px;
}

.picArray img {
  float:left;
  width: 30%;
  padding:0px;
  margin:0;
  position:relative;
  left: -15%;
}
#picHolder {
  width:40vw;
  height: 35vh;
  margin: 5px auto;
  border: black 1px solid;

}

.petNameHeading {
  text-align: center;
}

.petNameHeading>h3 {
  display:inline;
}

.unfocused {
  z-index:0;
  opacity: .3;
}

.highlightContainer {
  width: 100%;
}
.highlightBlock {
  position: relative;
  width: 36%;
  height: 24vh;
  z-index:2;
  background-color: lightgrey;
  left: 12%;
  top: -22vh;
  border: black 2px solid;

}
#picHolder> img {

  height: 100%;
  width: 100%;
  /*border: 0;*/
}
.textContainer{
  width: 100%;
}

.focused {
  /*border: lightblue 1px solid; */
  /*width:30% !important;*/
  z-index:5;
  width: 150%;

}

.userCard tr{
  border:1px black solid;
 
}
.userCard img {
  min-height: 40px;
  min-width: 60px;
  height: 10vh;
  width: 15vh;
  border: 1px solid black;
}

.userCard table {
  width: 200%;
  /*width: 60vw;*/
  margin: 4px 4px;
  background-color: lightgrey;

}
.userCard.bottomless table {
  margin-bottom: 0;
}
.userCard .topless {
  border-top-width: 0;
}

.userCard .nameCell {
  width: 35%;
}

.userCard .petsOwned table {
/*  margin-top: -4px;
  position: relative;
  height: 10vh;
  width: 80% ;
  width:20vw;
  left: 15vh;*/
  border-collapse: collapse;
  margin-top: 0;
}
.petsOwned tr{
  position: relative;
  left: 15vh;
  border-width: 0;
  border-collapse: collapse;
  /*width: 2vw;*/
}
.petsOwned td {
  border-top: 1px dotted black;
}

.swapButtonCell button{
  margin-left: 5px;
}
.swapButtonCell {
  border-left: 1px black solid
}
.petsOwned .blank {
  width:15vh;
  background-color: #808080;
  border-top-width: 0px;
}
.ownedPetPicCell {
  border-right: 1px black solid;
}
.ownedPetPicCell img{
  width: 11vh;
  height: 8vh;
  border:2px solid lightgrey;
  border-radius: 15%;
  float: right;
}


/*.rotatedPics {
  border-style: solid;
    border-width: 1px;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #0000FF;
    -webkit-transition: all width 2s, height 2s, background-color 2s, -webkit-transform 2s ease-in-out;
    transition: all width 2s, height 2s, background-color 2s, transform 2s ease-in-out;
}
.rotatedPics:hover {
   background-color: #FFCCCC;
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}*/
/*.viewContainer img {
  width: 100%;
  height: 150px;
  background-color: #fff;
}*/
/*.viewContainer {
  margin-top: 0px;
  background-color: grey;
  height: 95vh;
  overflow: scroll;
}*/






