
<div ng-if="currentUser">
<div id="mainItem">
  <div id="picContainer">
  </div><div id="textContainer">
    <div id="picHolder">
      <img src="{{picArray[1].url ||picArray[0].url }}" alt="" class="focused">
    </div>
    <div class="petNameHeading">
      <div class="previous" ng-click="slideRight()"><i class="fa fa-arrow-circle-left"></i></div>
      <h3 ng-click="adopt()">{{picArray[1].name ||picArray[0].name}} </h3>
      <div class="next" ng-click="slideLeft()"><i class="fa fa-arrow-circle-right"></i></div>
    </div>
    <br>
    <div>
      <p>{{picArray[1].blurb|| picArray[0].blurb}}</p>
    </div>
  </div>

</div
><div class="picArray" >
  <img src="{{pic.url}}" alt="" ng-repeat="pic in picArray" class="unfocused"> 
</div>
<div class="arrayEnd"></div>
<div class="highlightContainer">
  <div class="highlightBlock"></div>
</div>
</div>

<div ng-if="!currentUser">
  <table>
    <tr ng-repeat="picture in picArray">
      <td> <img src="{{picture.url}}"</td>


      <!-- <td ng-repeat></td> -->
    </tr>
  </table>
  

</div>