<!-- <div class="container"> -->
  <!-- <div class='row'> -->
    <!-- <div class=" col-sm-6 col-md-4" ng-repeat="pic in picArray">
      <alien-card></alien-card>
    </div> -->
  <!-- </div> -->

<!-- </div> -->

<!-- <div class="previous"></div
    > -->
    <div id="mainItem">
    <div id="picContainer">
    </div><div id="textContainer">
    
    <div id="picHolder">
      <img src="{{picArray[1].url}}" alt="" class="focused">

    </div>
    
    <div class="petNameHeading">
      <div class="previous" ng-click="slideRight()"><i class="fa fa-arrow-circle-left"></i></div>
      <h3 ng-click="adopt($index)">{{picArray[1].name}}</h3>
      <div class="next" ng-click="slideLeft()"><i class="fa fa-arrow-circle-right"></i></div>
    </div>
    <!-- <div class="previous"></div> -->
    <!-- <img src="http://placehold.it/350x150"> -->
    <br>
    <p>{{picArray[1].blurb}}</p>
  </div>
 <!--  </div
  ><div class="next"> -->
  </div
  ><div class="picArray" >
  <img src="{{pic.url}}" alt="" ng-repeat="pic in picArray" class="unfocused"> 

</div>
<div class="arrayEnd"></div>
<div class="highlightContainer">
<div class="highlightBlock"></div>

</div>
<!-- <script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="theData.js"></script>
<script src="main.js"></script> -->
</body>
</html>
